body {
    text-align: center; /* Center-align text content */
    margin: 0 auto; /* Center horizontally by setting left and right margins to auto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.thumbnail {
    cursor: pointer;
    height: 25vh;
    border: 5;
    background-size: auto;
    border: 5px solid rgb(141, 249, 224);
}

.display {
    text-align: center;
    margin-top: 20px;
    border: 5;
    background-size: auto;
    border: 5px solid rgb(92, 35, 236);
}

.controls {
    text-align: center;
    margin-top: 10px;
}

#playPause {
    background-color: #6a00ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
