img {
    width: 100%;
    height:auto;
    padding-left: auto;
    padding-right: auto;
}

main, header{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 70%;
    margin-left: auto;
    margin-right:auto;
}
nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

nav ul li{
    display:inline-block;
    padding: 10px;
    border-bottom: 1px dashed rgb(246, 245, 243);
}

.white-text{
    font-style: italic;
}

.em-text{
    color: initial;
}

.black-text{
    color: initial;
}


a {
    color:rgb(198, 34, 34)
}

@media (min-width:1005px){
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul li{
        border: none;
        padding: 0;
    }
    .white-text {
        color:rgb(254, 254, 254)
    }
    .em-text {
        color:rgb(254, 254, 254)
    }
    .black-text {
        color:rgb(254, 254, 254)
    }
    .red-text{
        color: rgb(0, 0, 0);
    }
}

@media (min-width:1604px){
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul li{
        border: none;
        padding: 0;
    }
    .white-text {
        color:rgb(0, 0, 0)
    }
    .em-text {
        color:rgb(0, 0, 0)
    }
    .black-text {
        color:rgb(0, 0, 0)
    }
}
