img{
    max-width: 100%;
} 


/* #specialimge {
    max-width: 100%
} */

main, header{
    /*width: 768px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

nav ul{
    list-style: none;
    padding-left: 0;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

.em-text{
    font-style: italic;
}

.red-text{
    color: initial;
}

.green-text{
    color: initial;
}

.black-text{
    color: chartreuse;
}

.yellow-text{
    color: darkorange;
}

a {
    color:aliceblue
}

@media (min-width:800px){
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul li{
        border: none;
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .red-text {
        color: rgb(20, 25, 170);
    }
    .green-text {
        color:rgb(113, 222, 24)
    }
}