img{
    width: 255px;
}

main, header{
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav ul li{
    display: inline-block;
}